<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet">
  <title>CORONA VIRUS UPDATES</title>

  <style>
    p1 {
      font-family: 'Comic Neue', cursive;
      font-family: 'Open Sans Condensed', sans-serif;
      font-family: 'Inria Sans', sans-serif;
      font-family: 'Roboto Mono', monospace;
      font-family: 'Girassol', cursive;
    }

    .cr {
      background-color: aliceblue;
      padding-bottom: 8px;
    }

    .a1 {

      font-family: 'Open Sans Condensed', sans-serif;
      font-family: 'Inria Sans', sans-serif;
      font-family: 'Roboto Mono', monospace;
      font-family: 'Girassol', cursive;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;


    }

    .c1 {
      background-color: aliceblue;
    }
  </style>


</head>

<body>

  <div class="cr">
    <div class="container text-center">
      <img src="/images/icon.png" alt="" style="width: 100px;height: 100px;">

    </div>
  </div>

  <br>

  <marquee behavior="" scrollamount="15" direction=""
    style="background-color: aliceblue;font-weight: bold;font-size: 20px;">⚠️ THIS PAGE IS UNDER CONSTRUCTION, YOU CAN
    REFERENCE THE BELOW LINKS ⚠️ </marquee>

  <div class="container">
    <div class="jumbotron text-center">
      <b style="font-size: 22px;"> HELPLINE NUMBERS [BY STATE] </b><br>
      <b> <a href="HTTPS://WWW.MOHFW.GOV.IN/PDF/CORONVAVIRUSHELPLINENUMBER.PDF"> HTTPS://WWW.MOHFW.GOV.IN/PDF/CORONVAVIRUSHELPLINENUMBER.PDF </a></b><br><br>
      <b style="font-size: 22px;" style="font-size: 22px;">MINISTRY OF HEALTH AND FAMILY WELFARE, GOV. OF INDIA</b>  <br>
      <b> <a href="HTTPS://WWW.MOHFW.GOV.IN/"> HTTPS://WWW.MOHFW.GOV.IN/ </a></b><br><br>
      <b style="font-size: 22px;">  WHO : COVID-19 HOME PAGE </b><br>
      <b> <a href="HTTPS://WWW.WHO.INT/EMERGENCIES/DISEASES/NOVEL-CORONAVIRUS-2019">HTTPS://WWW.WHO.INT/EMERGENCIES/DISEASES/NOVEL-CORONAVIRUS-2019</a> </b> <br><br>
      <b style="font-size: 22px;"> CDC </b><br>
      <b><a href="HTTPS://WWW.CDC.GOV/CORONAVIRUS/2019-NCOV/FAQ.HTML"> HTTPS://WWW.CDC.GOV/CORONAVIRUS/2019-NCOV/FAQ.HTML</a> </b>  <br><br>
      <b style="font-size: 22px;"> CROWDSOURCED LIST OF RESOURCES & ESSENTIALS FROM ACROSS INDIA </b><br>
      <b> <a href="HTTPS://BIT.LY/COVID19RESOURCELIST"> HTTPS://BIT.LY/COVID19RESOURCELIST</a> </b><br><br>
      <b style="font-size: 22px;"> COVID-19 GLOBAL TRACKER</b> <br>
      <b> <a href="HTTPS://CORONAVIRUS.THEBASELAB.COM"> HTTPS://CORONAVIRUS.THEBASELAB.COM/</a></b> <br><br>
    </div>
  </div>






  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>

</html>